.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color:#666DDC;
  font-size: 2.25vmin;
}

a:visited{
  color:#666DDC;
  font-size: 2.25vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-sponsor-text {
  color: white;
  text-align: left;
  margin-top: -5px;
  margin-bottom: 10px;
  color: white;
}

.footer-sponsor-image-container {
    display: flex;
    gap: 10px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-social-text {
  color: white;
  margin-bottom: 10px;
}